<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vehicles/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ vehicle.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-img [src]="vehicle.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-left">
        <p><b>Type of engine: </b>{{ vehicle.fuelType }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-left">
        <p><b>Price: </b>{{ vehicle.price }} / km</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-sm="6"
        offset-sm="3"
        class="ion-text-left"
        *ngIf="user.role === 0 && vehicle.bookable === 1"
      >
        <p><b>Available From: </b>{{ vehicle.availableFrom }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-sm="6"
        offset-sm="3"
        class="ion-text-left"
        *ngIf="user.role === 0 && vehicle.bookable === 1"
      >
        <p><b>Available To: </b>{{ vehicle.availableTo }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-label
          color="danger"
          *ngIf="user.role === 0 && vehicle.bookable === 0"
          >Sorry, this vehicle is not available right now!!!
        </ion-label>
        <ion-button
          color="primary"
          class="ion-margin"
          (click)="onBookVehicle()"
          *ngIf="user.role === 0 && vehicle.bookable === 1"
          >Book</ion-button
        >
        <ion-button
          color="primary"
          class="ion-margin"
          (click)="onAddFuel()"
          *ngIf="user.role === 1"
          >Add fuel details</ion-button
        >
        <ion-button
          color="primary"
          class="ion-margin"
          [routerLink]="['/','admin','fuel-list', vehicle._id]"
          *ngIf="user.role === 1"
          >Check fuel list</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
