<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" offset-md="3">
        <p>
          No more worries about petrol mileage, insurance, and car breakdowns!
          Taxiverse has enabled driving convenience for travellers around the
          country and is fast expanding its reach to cities. Book a self drive
          car in any city you visit with the Taxiverse app on your phone and
          feel at home wherever you go.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
