<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedVehicle.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>
            <h4>Price: {{ selectedVehicle.price }} / km</h4>
          </ion-label>
          <ion-label>
            <h4>Type of engine: {{ selectedVehicle.fuelType }}</h4>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form (ngSubmit)="onBookVehicle()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating"
              >Number of partners in ride</ion-label
            >
            <ion-select [ngModel]="'2'" name="partner-count">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-datetime
              display-format="MMM DD, YYYY HH:mm"
              picker-format="MMM DD, YYYY HH:mm"
              [min]="selectedVehicle.availableFrom.toISOString()"
              [max]="selectedVehicle.availableTo.toISOString()"
              ngModel
              name="date-from"
              required
              #startCtrl="ngModel"
            >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Ṭo</ion-label>
            <ion-datetime
              display-format="MMM DD, YYYY HH:mm"
              picker-format="MMM DD, YYYY HH:mm"
              [min]="startCtrl.value"
              [max]="selectedVehicle.availableTo.toISOString()"
              ngModel
              name="date-to"
              required
            >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="3" offset-sm="3">
          <ion-button
            color="primary"
            type="submit"
            expand="block"
            [disabled]="!f.valid"
            >Quick Book</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
